





<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading" >Menüler</div>
        


             

                <a class="nav-link" href="/Product/Index/">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-product-hunt"></i></div>
                    Ürünler
                </a>

              

                <a class="nav-link" href="/Product/AddProduct/">
                    <div class="sb-nav-link-icon"><i class="fa fa-cart-plus"></i></div>
                    Yeni Ürün Girişi
                </a>



                <a class="nav-link" href="/Customer/Index/">
                    <div class="sb-nav-link-icon"><i class="fas-sharp fa-solid fa-users"></i></div>
                    Müşteriler
                </a>
            

                <a class="nav-link" href="/Job/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-map"></i></div>
                    Meslekler
                </a>
          

                <a class="nav-link" href="/Job/AddJob/">
                    <div class="sb-nav-link-icon"><i class="fa fa-user-plus"></i></div>
                    Meslek Ekle
                </a>




                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-layer-group"></i></div>
                    Kategoriler


                </a>





              

                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa fa-truck"></i></div>
                    Yardım
                </a>



            </div>
        </div>

    </nav>
</div>