@model EntityLayer.Concreate.Job

@{
    ViewData["Title"] = "UpdateJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>UpdateJob</h1>

<form method="post">

    @Html.Label("Meslek Id")
    @Html.TextBoxFor(x=> x.JobID,new { @class="form-control" })
    <br />

    @Html.Label("Meslek Adı")
    @Html.TextBoxFor(x=>x.Name,new  { @class="form-control " })
    <br />

    <button class="btn btn-warning">Meslek Güncelle</button>


</form>